@import "tailwindcss";
@import "@fontsource/irish-grover";

body {
  @apply m-0;
  font-family: "Irish Grover", system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
